body {
    background-color: rgb(7, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.main-content-wrapper {
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-content {
    box-shadow: 0 0 8px 4px rgba(92, 119, 129, 0.575);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 500px;
    height: 200px;
    text-shadow: 0 0 16px rgba(92, 119, 129, 0.575), 0 0 4px rgba(92, 119, 129, 0.575);
    transition: transform 0.5s ease;
    z-index: 2; /* Add this line */
}
i {
    margin-right: 5px;
    width: 12px;
    height: 12px;
    color: white;
}

#hidden-content {
    display: none;
    position: absolute;
    width: 500px;
    height: 200px;
    top: 200px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1; /* Add this line */
}

.link {
    position: absolute;
    left: 100%;
    transform: translateX(-150%);
}

a {
    text-decoration: none;
    color: rgba(92, 119, 129);
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    margin-top: 15%;
}
